.side-nav-content h1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Style the button */
.side-nav-content .btn {
  background-color: #28a745;
  color: white;
  height: 3em;
  width: 9em;
}
