<div class="form-wrapper">

  <div class="top-page">
    <br>
    <h2>Welcome Back!</h2>
    <p>Let's get to work.</p>
  </div>
<br>
  <form>
    <div class="form-item">
      <input type="text" id="fname" name="fname" value="Email Address">
    </div>
    <div class="form-item">
      <input type="text" id="fname" name="fname" value="Password">
    </div>
    <div class="button-panel">
      <button type="submit" class="button" title="Sign In" value="Sign In">Sign in</button>
    </div>
</form>

  <div class="form-footer">
    <p>Don't have an account? <a href="#">Sign up</a></p>
    <p><a href="#">Forgot password?</a></p>
  </div>
</div>
