<div>
  <div class="splash-head">
    <h1>Welcome to TASKIT</h1>
    <p>This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>
  </div>
  <div class="splash-image">
    <img src="assets/img/img.png" alt="" width="600" height="400">
  </div>
  <div class="splash-bottom">
    <p>Create an account to get started today.</p>
    <button class="button" routerLink="/sign-up">Sign Up</button>
    Or
    <button class="button" routerLink="/login">Login</button>
  </div>
</div>
