body {
  background-color: #FCFCFC;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.pop-up {
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.box {
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.close-button {
  transition: all 0.5s ease;
  position: absolute;
  right: 10px;
  top: 10px;
  border: transparent;
  background-color: transparent;
}

.child-container {
  display: flex;
}

.child1 {
  text-align: left;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  width: 70%;
  padding: 25px;
}

.child1 input[placeholder="Description"] {
  width: 100%; /* Make the input box wider */
  height: 100px;
  text-align: ;
}

.child2 {
  color: green;
  text-align: right;
  width: 30%;
  padding: 20px;
  padding-left: 10px;
}

.cover {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.blur-in {
  -webkit-animation: blur 2s forwards;
  -moz-animation: blur 2s forwards;
  -o-animation: blur 2s forwards;
  animation: blur 2s forwards;
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(4px);
    filter: blur(4px);
  }
}
