<div id="overlay" class="cover blur-in">
  <div class="content">
    <h1>This is where the main pages would go</h1>
  </div>
</div>

<div class="row pop-up">
  <div class="box small-6 large-centered">
  <div>

    <div>
      <button href="#" class="close-button">&#10006;</button>
    </div>

    <div class="child1">
      <h3>Add a New Task</h3>
      <form>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Title">
          <br>
          <input class="form-control input-lg" type="text" placeholder="Description"><br>
        </div>
      </form>
    </div><br>

    <div class="child2">
      <form>
        <div class="form-group">
          <input class="form-control" type="date" placeholder="Due Date">
        </div>
        <div class="btn-group">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Priority
          </button>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Status
          </button>
        </div>
      </form>

      <div class="btn-together">
        <button type="button" class="btn btn-warning">Cancel</button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button type="button" class="btn btn-success">Create</button>
      </div><br>

    </div><br>

  </div>
  </div>
</div>
