<div id="overlay" class="cover blur-in">
  <div class="content">
<app-sidebar></app-sidebar>
  </div>
</div>

<div class="row pop-up">
  <div class="box">
    <div class="child-container">

      <div class="child1">
        <h3>Add a New Task</h3>
        <form>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Title">
            <br>
            <textarea class="form-control" aria-label="With textarea" placeholder="Description"></textarea><br>
          </div>
        </form>
      </div>

      <div class="child2">
        <form>

          <div class="form-group">
            <input class="form-control" type="date" placeholder="Due Date">
          </div>

        <br>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Priority
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Low</a></li>
              <li><a class="dropdown-item" href="#">Med</a></li>
              <li><a class="dropdown-item" href="#">High</a></li>
            </ul>
          </div>

          <br>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Status
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">New</a></li>
              <li><a class="dropdown-item" href="#">In Progress</a></li>
              <li><a class="dropdown-item" href="#">Completed</a></li>
            </ul>
          </div>
        </form>
      <br>

        <div class="btn-together">
          <button type="button" class="btn btn-warning">Cancel</button>
          <button type="button" class="btn btn-success">Create</button>
        </div>

      </div>

    </div>
  </div>
</div>
