<div class="form-wrapper">

  <div class="top-page">
    <br>
    <h2>Welcome to TASKIT</h2>
    <p>Sign up to get things done.</p>
  </div>
<br>
  <form>
    <div class="form-item">
      <p>First Name</p>
      <input type="text" id="fname" name="fname" value="">
    </div>
    <div class="form-item">
      <p>Last Name</p>
      <input type="text" id="fname" name="fname" value="">
    </div>
    <div class="form-item">
      <p>Email</p>
      <input type="text" id="fname" name="fname" value="">
    </div>
    <div class="form-item">
      <p>Password</p>
      <input type="text" id="fname" name="fname" value="">
    </div>
    <div class="button-panel">
      <button type="submit" class="button" title="Sign In" value="Sign In" routerLink="/task-list">Submit</button>
    </div>
</form>

  <div class="form-footer">
    <p>Have an account? <a href="#" routerLink="/login">Login</a></p>
    <p><a>Forgot password?</a></p>
  </div>
</div>
