<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <div class="task-list open">
      <h2>Task List</h2>
      <div class="filter-buttons">
        <button class="btn btn-secondary dropdown-toggle">Title</button>
        <button class="btn btn-secondary dropdown-toggle">Date</button>
        <button class="btn btn-secondary dropdown-toggle">Priority</button>
<!-- Add Task Modal Button ---------------------------------------------->
<button id="createModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Add a New Task</button>
</div>
    <!-- To Do List Table Area------------------------------------------------>
    <div class="table-body">
      <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>task</td>
            <td>due-date</td>
            <td>status</td>
            <td>actions</td>
            <div class="line-1">
<!-------------------- Edit/Create/Delete Tasks -- Modal Buttons------------------------>
              <button id="viewModal" class="btn" data-bs-toggle="modal" data-bs-target="#viewModal"><i class="bi bi-eye" style="font-size: 25px;"></i></button>

              <button id="editModal" class="btn" data-bs-toggle="modal" data-bs-target="#editModal"><i class="bi bi-pencil-square" style="font-size: 25px;"></i></button>

              <button id="deleteModal" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill" style="font-size: 25px;"></i></button>

            </div>
          </tr>
        </tbody>
      </table>
<!------------------------------------------------------------------------------------->
    </div>
  </div>
</div>
