<div class="task-list open">
  <h2>Task List</h2>
  <tr>
    <td>Filters:</td>
    <button class="btn btn-secondary dropdown-toggle" >
    Title
    </button>
    <button class="btn btn-secondary dropdown-toggle">
    Date
    </button>
    <button class="btn btn-secondary dropdown-toggle">
    Priority
    </button>
    <button class="btn-primary" (click)="addItem(newItem.value)">
    Add New Task
    </button>
  </tr>
</div>

<div class="table-body">
  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> task </td>
        <td> due-date </td>
        <td> status </td>
        <td> actions </td>

        <div class="line-1">
          <button class="btn"><i class="bi bi-eye" style="font-size: 25px;"></i></button>
          <button class="btn"><i class="bi bi-pencil-square" style="font-size: 25px;"></i></button>
          <button class="btn"><i class="bi bi-trash-fill" style="font-size: 25px;"></i></button>
        </div>
      </tr>
      <tr>
        <td> task </td>
        <td> due-date </td>
        <td> status </td>
        <td> actions </td>
        <div class="line-1">
          <button class="btn"><i class="bi bi-eye" style="font-size: 25px;"></i></button>
          <button class="btn"><i class="bi bi-pencil-square" style="font-size: 25px;"></i></button>
          <button class="btn"><i class="bi bi-trash-fill" style="font-size: 25px;"></i></button>
        </div>
      </tr>
    </tbody>
  </table>
</div>


<div class="main">

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />

  <ul>
    <li *ngFor="let item of items">{{item.description}}</li>
  </ul>

</div>
